<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<body>
	<div layout:fragment="content">
	<script type="text/javascript">
	window.onload=function(){
		document.getElementById("agree").onclick=function(){
			if(document.getElementById("ag").checked){
				frm.submit();
			}else{
				alert("동의하셔야 다음으로 넘어가실 수 있습니다.");
				// console.log(document.getElementById("ag").value)
			}
		}
		document.getElementById("back").onclick=function(){
			history.back();
		}
	}
	</script>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		<fieldset>
		<legend>자동이체 등록</legend>
		
		'계좌간/타행 자동이체 약관'중 계좌간 자동이체(자동이체 방법,지급자금부족 때의 처리 등), 타행 
		<br/>자동이체(약관의 적용,신청 변경 및 해지 등)출금우선순위 등 약관에 동의하셔야 합니다.<br/>
		 위의 약관에 동의하십니까?
		</fieldset>
		<form name="frm" action="autosend2" method="get">
		<input type="checkbox" id="ag" name="ck" value="ag"><label for="ag">동의합니다</label>&nbsp;&nbsp;&nbsp;
		<input type="button" id="agree" value="등록하기">&nbsp;&nbsp;
		<input type="button" id="back" value="이전으로">
		</form>
		<fieldset>
		<h5>타행자동이체 안내</h5><br/>
		
출금계좌의 예금잔액이 이체금액에 수수료를 합산한 금액보다 적은 경우 고객의 귀책사유(잔액증명서 발급, 연체, 법적 지급 제한 등)로 인해 출금이 불가능한 경우에는 이체가 이루어지지 않습니다.<br/>
 이로 인하여 손해가 발생해도 은행은 그 책임을 지지 않습니다.<br/>
고객의 KB국민은행 출금계좌에서 지정일(지정일이 없는 달에는 해당월의 말일, 지정일이 휴일인 경우에는 다음 영업일)에 출금하여 당일 타행 입금계좌로 입금합니다. 
<br/>(단, 지정일 영업시간 이내에 현금화된 잔액범위 내)
타행자동이체 수수료는 건당 300원입니다. (*’23.1.19(목)~별도 안내시까지 개인/개인사업자/임의단체(서류미제출) 한시적 면제)
		</fieldset>
	</div>
</body>
</html>