<!DOCTYPE html>
<html lang ="en" xmlns:th="http:/www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:include="fragments/head"></th:block>
<body>
<th:block th:include="fragments/header"></th:block>
<form action="editPwd" method="POST" class="joinForm"
		onsubmit="EditInfoForm__submit(this); return false;">

		<h2>비밀번호 변경</h2>
		<div class="textForm">
			<input name="loginPw" type="password" class="pw" placeholder="비밀번호">
		</div>
		<div class="textForm">
			<input name="loginPwConfirm" type="password" class="pw"
				placeholder="비밀번호 확인">
		</div>
		<input type="submit" class="btn" value="비밀번호 변경" />
		<input type="button" class="btn"onclick="history.back()" value="이전 화면" />
	</form>
</body>

<th:block th:include="fragments/footer"></th:block>
</html>