<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	 layout:decorate="~{layouts/layout1}">
<body>
<div layout:fragment="content">
	<!-- Title 시작 -->
	<div class="toparea">
		<h1 class="h1_title">가계대출금리</h1>
	</div>

	<h2 class="blind">금리</h2>

	<div id="b032206">
		<div id="errorDiv"
			style="position: relative; z-index: 1; display: none;">
			<div id="errorDivIn" class="notiArea error">
				<strong>고객님 죄송합니다.</strong>
				<p id="errMsg" class="comment"></p>
				<input type="hidden" name="errorCode" id="errorCode" value="" /> <input
					type="hidden" name="pageNm" id="pageNm" value="가계대출금리" /> <input
					type="hidden" name="pageCd" id="pageCd" value="C019205" />
				<p id="linkText" class="comment"></p>
				<p id="errorTransfer" style="display: none;">
					<strong id="goPage"></strong> 화면으로 이동합니다.
				</p>
				<ul class="list_type1" id="errUl">
					<li>응답코드 <span class="point_blue" id="errCd">()</span></li>
				</ul>
				<div class="notiCall">
					<span class="btn small errClose" id="errorClose"
						style="display: none;"><a href="javascript:window.close();">닫기</a></span>
					대표전화&nbsp;&nbsp;&nbsp;<em>1588-9999</em><span>|</span><em>1599-9999</em><span>|</span><em>1644-9999</em>
				</div>
			</div>
			<div class="btnArea" id="errorTransferBtn" style="display: none;">
				<span class="btn large action"><a href="">확인</a></span>
			</div>
			<script type="text/javascript">
				//<![CDATA[  $(function(){    if($.browser.msie){      var tempObj    = $("#errorTransferBtn").find("a");      var strTempUrl = tempObj.attr("href");      tempObj.attr("href", caq.util.getEncodeURI(strTempUrl));    }  });  //]]>
			</script>
		</div>

		<form method="post" name="IBF" id="IBF" action="">


			<ul class="list_type1">
				<li>은행은 매주 기준금리를 결정하여 고시합니다. 기준금리에 연동하는 대출의 경우 매 ‘금리재산정주기’가
					도래하는 날에 은행이<br />고시한 금리와 가산금리 및 우대금리 적용기준에 따라 대출금리가 산정됩니다.
				</li>
				<li>시장금리(MOR)는 금리재산정주기가 3개월인 경우 CD 91일물 유통수익률, 6개월 이상인 경우 금융채
					AAA등급 채권시장수익률을<br />각각 사용합니다. 현재 은행이 사용하는 시장금리(MOR)는 CD 91일물
					유통수익률은 한국은행, 채권시장수익률은 금융투자협회(구 한국증권업협회)가 고시하는 전주 최종영업일 전영업일 종가입니다.
				</li>
				<li>고객님께서 받으신 대출상품 또는 대출신규일자에 따라 위 기준금리의 적용대상 대출에 해당되지 않을 수
					있으므로 자세한 금리는<br />국민은행 콜센터나 영업점에 문의하시기 바랍니다.
				</li>

			</ul>

			<div class="inq_btn_area s5">
				<h2 class="tit_dep2">MOR 금리</h2>
				<p>(단위: %,%p)</p>
			</div>

			<table class="tType01"
				summary="표 : 구분,전주(A),금주(B),증감(B-A),대상대출,MOR,MOR,MOR,3개월 변동금리,6개월 변동금리,12개월 변동금리,2년 고정금리,3년 고정금리,5년 고정금리">
				<caption>MOR 금리 조회</caption>
				<colgroup>
					<col width="*" />
					<col width="20%" />
					<col width="20%" />
					<col width="20%" />
					<col width="18%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col" rowspan="2">구분</th>
						<th scope="col">전주(A)<br />(’23.3.13~3.19)
						</th>
						<th scope="col">금주(B)<br />(’23.3.20~3.26)
						</th>
						<th scope="col">증감(B-A)</th>
						<th scope="col" rowspan="2" class="">대상대출</th>
					</tr>
					<tr>
						<th scope="col" class="">MOR</th>
						<th scope="col" class="">MOR</th>
						<th scope="col" class="">MOR</th>
					</tr>

				</thead>
				<tbody>


					<tr>
						<th class="" scope="row">3개월 변동금리</th>
						<td class="">3.61</td>
						<td class="">3.62</td>
						<td class="">0.01</td>
						<td rowspan="6" class="">신용대출<br />담보대출
						</td>

					</tr>

					<tr>
						<th class="" scope="row">6개월 변동금리</th>
						<td class="">3.8</td>
						<td class="">3.63</td>
						<td class="">-0.17</td>
					</tr>


					<tr>
						<th class="" scope="row">12개월 변동금리</th>
						<td class="">3.95</td>
						<td class="">3.65</td>
						<td class="">-0.30</td>
					</tr>

					<tr>
						<th class="" scope="row">2년 고정금리</th>
						<td class="">4.18</td>
						<td class="">3.77</td>
						<td class="">-0.41</td>
					</tr>

					<tr>
						<th class="" scope="row">3년 고정금리</th>
						<td class="">4.3</td>
						<td class="">3.88</td>
						<td class="">-0.42</td>
					</tr>

					<tr>
						<th class="" scope="row">5년 고정금리</th>
						<td class="">4.44</td>
						<td class="">4.03</td>
						<td class="">-0.41</td>
					</tr>
				</tbody>
			</table>
		</form>

		<div class="">
			<h1 class="">대출관련 수수료</h1>
		</div>

		<div id="">
			<h2 class=" ">가계여신</h2>
			<table class=""summary="이 표는 가계여신정보를 제공하며 수수료종류,수수료,기타로 구성되어 있습니다">
				<caption>가계여신 정보 목록</caption>
				<colgroup>
					<col width="20%" />
					<col width="38%" />
					<col width="37%" />
					<col width="*" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col" colspan="2">수수료종류</th>
						<th scope="col" rowspan="2">수수료(원)</th>
						<th scope="col" rowspan="2" class="">기타</th>
					</tr>
					<tr>
						<th scope="col" class="">구분</th>
						<th scope="col" class="">단위기준</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>제증명서 발급수수료</td>
						<td>건당</td>
						<td>2,000</td>
						<td class="">&nbsp;</td>
					</tr>
					<tr>
						<td rowspan="2">은행거래확인서<br />발급수수료
						</td>
						<td>수기발급시 / 건당<br /> (추가발급시 / 건당)
						</td>
						<td>5,000<br />(추가: 500)
						</td>
						<td class="">&nbsp;</td>
					</tr>
					<tr>
						<td height="35">전산발급시 / 건당<br /> (추가발급시 / 건당)
						</td>
						<td>2,000<br />(추가: 500)
						</td>
						<td class="">&nbsp;</td>
					</tr>
					<tr>
						<td>중도상환수수료</td>
						<td colspan="2"><div align="left">
								<strong><u>구분 : 중도상환수수료</u></strong><br />
								<p>
									1. 중도상환수수료(율)<br /> &nbsp;가. 주택자금대출 및 부동산(부동산신탁수익권증서 포함)담보대출<br />
									&nbsp;&nbsp;(1) 변동금리 : 1.2%<br /> &nbsp;&nbsp;(2) 그 외<sup><strong>주)</strong></sup>
									: 1.4%<br /> &nbsp;나. 신용대출 및 부동산(부동산신탁수익권증서 포함)담보대출 이외<br />
									&nbsp;&nbsp;(1) 변동금리 : 0.6%<br /> &nbsp;&nbsp;(2) 그 외<sup><strong>주)</strong></sup>
									: 0.7%
								</p>
								<p style="margin-left: 20px;">
									<strong class="point_orange">주) 금리변동주기와 대출기간(기한연장의 경우
										연장기간)이 동일하거나, 금리변동주기<br />&nbsp;&nbsp;&nbsp;&nbsp;및 고정금리기간이
										3년이상
									</strong><br /> 예시> 금리변동주기가 12개월이면서, 대출기간이 12개월인 신용대출은 수수료율 0.7% 적용<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;고정금리기간이
									3년이상 부동산담보대출의 경우 수수료율 1.4% 적용
								</p>

								2. 중도상환수수료 적용 기준<br /> &nbsp;가. 계산식 : 중도상환원금 x 수수료율 x (잔존일수 ÷
								대출기간)<br />
								<p style="margin-left: 20px;">
									* 잔존일수 = 대출기간 ? 대출일로부터 상환일까지 경과일수<br /> 다만, 대출기간이 3년을 초과하는 경우
									‘대출일로부터 3년째 되는 날’을 만기일로 간주하여 적용
								</p>
								&nbsp;나. 신규/대환/재대출 약정시점 기준으로 적용하며, 금리 및 담보 변경에 따라 변경되지 않음
							</div></td>
						<td class="">&nbsp;</td>
					</tr>
					<tr>
						<td>공시내용의<br />변경에 관한 사항
						</td>
						<td colspan="2"><div align="left">
								<strong>- 중도상환수수료(율) 변경(변경 적용일 : 2019.4.17)</strong><br />
								［변경전］<br /> <strong><u>구분 : 조기상환수수료</u></strong><br /> <u>중도상환원금
									X 수수료율 X (잔존일수 ÷ 대출기간)</u><br /> * 신용대출 0.7%, 부동산담보대출 1.4%<br />
								※ 잔존일수 = 대출기간 ? 대출일로부터 상환일까지 경과일수<br /> ※ 다만, 대출기간이 3년을 초과하는 경우
								‘대출일로부터 3년째 되는 날’을 만기일로 간주하여 적용<br /> <br /> ［변경후］<br /> <strong><u>구분
										: 중도상환수수료</u></strong><br /> 1. 중도상환수수료(율)<br /> &nbsp;가. 주택자금대출 및
								부동산(부동산신탁수익권증서 포함)담보대출<br /> &nbsp;&nbsp;(1) 변동금리 : 1.2%<br />
								&nbsp;&nbsp;(2) 그 외<sup><strong>주)</strong></sup> : 1.4%<br />
								&nbsp;나. 신용대출 및 부동산(부동산신탁수익권증서 포함) 담보대출 이외<br />
								&nbsp;&nbsp;(1) 변동금리 : 0.6%<br /> &nbsp;&nbsp;(2) 그 외<sup><strong>주)</strong></sup>
								: 0.7%
								<p style="margin-left: 20px;">
									<strong class="point_orange">주) 금리변동주기와 대출기간(기한연장의 경우
										연장기간)이 동일하거나, 금리변동주기<br />&nbsp;&nbsp;&nbsp;&nbsp;및 고정금리기간이
										3년이상
									</strong><br /> 예시> 금리변동주기가 12개월이면서, 대출기간이 12개월인 신용대출은 수수료율 0.7% 적용<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;고정금리기간이
									3년이상 부동산담보대출의 경우 수수료율 1.4% 적용
								</p>

								2. 중도상환수수료 적용 기준<br /> &nbsp;가. 계산식 : 중도상환원금 x 수수료율 x (잔존일수 ÷
								대출기간)
								<p style="margin-left: 20px;">
									* 잔존일수 = 대출기간 ? 대출일로부터 상환일까지 경과일수<br /> 다만, 대출기간이 3년을 초과하는 경우
									‘대출일로부터 3년째 되는 날’을 만기일로 간주하여 적용
								</p>
								&nbsp;나. 신규/대환/재대출 약정시점 기준으로 적용하며, 금리 및 담보 변경에 따라 변경되지 않음

							</div></td>
						<td class="nbr">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<br /> <br />



			<h2 class="">대출상담사 대출모집수수료 지급 기준 (2019.01.02(수) 현재)</h2>
			<table class=""summary="구분, 주택담보대출, 전세자금대출, 비 주거용 건물담보대출, 집단입주대출, 보금자리론">
				<caption>대출상담사 대출모집수수료 지급 기준</caption>
				<colgroup>
					<col width="30%" />
					<col width="35%" />
					<col width="35%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">구분</th>
						<th scope="col">대출기간 3년 미만<br /> (단, 전세자금대출은 1년 미만)
						</th>
						<th scope="col" class="">대출기간 3년 이상<br /> (단, 전세자금대출은 1년
							이상)
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row" class="">주택담보대출</th>
						<td>0.15 ~ 0.20%</td>
						<td class="">0.30 ~ 0.40%</td>
					</tr>
					<tr>
						<th scope="row" class="">전세자금대출</th>
						<td>0.10%</td>
						<td class="">0.30 ~ 0.40%</td>
					</tr>
					<tr>
						<th scope="row" class="">비주거용<br />건물담보대출
						</th>
						<td>0.11 ~ 0.145%</td>
						<td class="">0.22 ~ 0.29%</td>
					</tr>
					<tr>
						<th scope="row" class="">집단입주대출</th>


						<td colspan="2" class="">0.11%</td>
					</tr>

					<tr>
						<th scope="row" class="">보금자리론</th>
						<td colspan="2" class="">0.20 ~ 0.40%</td>
					</tr>
					<tr>
						<th scope="row" class="">매직카대출</th>
						<td>0.30%</td>
						<td class="">1.00%</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>