<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<link href="css/product.css" rel="stylesheet">
<body>
	<div layout:fragment="content">
		<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
		<br />
		<div>
		** 상품 정보 **<br />
		<form action="/buy" method="post" th:object="${datas}">
			상품 코드 : <input type="text" name="fin_prdt_code" readonly="readonly" th:field="*{fin_prdt_code}"><br /> 
			금융회사명 : <input type="text" name="kor_co_nm" value="ykbank" readonly="readonly"><br />
			상품 유형 : <input type="text" name="fin_prdt_type" th:field="*{fin_prdt_type}"><br /> 
			상 품 명 : <input type="text" name="fin_prdt_nm" th:field="*{fin_prdt_nm}"><br />
			최고 한도 : <input type="text" name="max_limit" th:field="*{max_limit}"><br />
			상품상세설명 : <input type="text" name="prodt_detail" th:field="*{prodt_detail}"><br /> <br /> 
			<input type="submit" value="신청" /> 
			<input type="button" onclick="history.back()" value="이전 페이지" />
		</form>
		</div>
	</div>
</body>
</html>