<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<link href="css/product.css" rel="stylesheet">
<body>
	<div layout:fragment="content">
		<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
		<div class="container px-4 px-lg-5">
			<!-- ################### -->
			<!-- 검색창 + 전체상품목록 버튼 -->
			<!-- ################### -->
			<form action="/search" method="get">
				<div class="search-form wow fadeInUp" data-wow-delay=".7s"
					style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-12 p-1">
							<div class="search-input">
								<label for="keyword"><i
									class="lni lni-search-alt theme-color"></i></label> <input type="text"
									name="search" id="search" placeholder="검색어를 입력하세요">
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-12 p-1">
							<div class="search-btn button">
								<button class="btn">
									<i class="lni lni-search-alt"></i> search
								</button>
							</div>
						</div>
						<!-- 
					<div class="col-lg-2 col-md-2 col-12 p-1">
						<div class="search-btn button">
							<a th:href="@{/allprdtlist}">
								<button class="btn">
									전체상품보기</button>
							</a>
						</div>
					</div>
					 -->
					</div>
				</div>
			</form>
			<br />
			<!-- ####### -->
			<!-- 검색 결과 -->
			<!-- ####### -->
			<div class="row gx-4 gx-lg-5">
				<div class="col-md-4 mb-5" th:each="data:${datas}">
					<form action="/prdtdetail" method="get">
						<div class="card" style="height: 15rem;">
							<div class="card-body">
								<h3><a th:href="@{/prdtdetail(fin_prdt_code=${data.fin_prdt_code})}">[[${data.fin_prdt_nm}]]</a></h3><br/>
								<div class="row">
									<div class="col-md-8"><a th:href="@{/prdtdetail(fin_prdt_code=${data.fin_prdt_code})}">[[${data.prodt_detail}]]</a></div>
									<div class="col-md-4 text-end">기본 [[${data.basic_rate}]]%</div>
								</div>
							</div>
							<div class="card-footer">
								<a class="btn btn-primary btn-sm" th:href="@{/prdtdetail(fin_prdt_code=${data.fin_prdt_code})}">보러가기</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>