	<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>상담신청 메인</title>
</head>
<body>

<h1><a href="main">고객페이지 메인</a></h1>
<a href="index.html">홈</a>
	<div>
		<h2>상담신청 메인</h2>
	</div>

	<div class="explainConsult">
		<div class="explanationArea">
		 	본인에게 편리한 상담 방법을 선택하면 전문 상담 직원이 도와줄 것
		</div>
	</div>

	<div class="consultType">
		<div class="typeContainer">
			<ul>
				<li>
					<!-- 이미지 만들어서 추가해도 -->
					전화 상담 (9999-9999)
					영업일 상담 가능 시간
					공휴일 상담 가능 시간
				</li>
				<li>
					챗봇/채팅/ 상담 (24시간 365일)
					언제든지 신청 가능
					<button id="chatBtn" onclick = "location.href = 'chatconsult.html'"  class="btn_go">챗봇/채팅 상담하기</button>
				</li>
				<li>
					이메일 상담 (24시간 365일)
					언제든지 신청 가능
					<button id="emainBtn" onclick = "location.href = 'mailconsult.html'"  class="btn_go">이메일 상담하기</button>
				</li>
				<li>
				 	전화 상담
					8888-8888
					영업일 상담 가능 시간
				</li>
			</ul>
		</div>
	</div>
	
	<div class="consultHistory">
		<div class="checkHistory">
			나의 상담내역 문의 사항을 한눈에 확인하세요
			<button id="historyBtn" onclick = "location.href = 'history.html'"  class="btn_go">상담 내역 보기</button>
		</div>
	</div>
</body>
</html>