<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<title>문의사항</title>
<link rel="stylesheet" th:href="@{css/customer.css/mailpassword.css}" />
<body>
<!-- 
${session.user_id} : session에 저장된 user_id 읽어오기
 -->
	<div layout:fragment="content">
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		<div class="container_chgPwd">
			<h3>본인 확인 인증</h3><br/>
			<!-- th:object로 컨트롤러에서 bean 객체를 전달받음 -->
			<form th:action="@{/upDelpage}" method="post">
			
				<label for="user_name">이름:</label>
	 		    <input type="text" name="customer_email_name">
				
				<label for="user_jumin">비밀번호:</label>
				<input type="password" name="customer_email_password">
				<input type="hidden" name="customer_email_no" th:value=${data}>
				<input type="submit" value="확인" class="btn">
	
			</form>
		</div>
	</div>
</body>
</html>