<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link rel="stylesheet" type="text/css" href="../css/certificate.css" />
</head>
<body>
	<form name="IBF" id="IBF" method="post" action="">

		<input type="hidden" name="인터넷뱅킹로그인ID" id="인터넷뱅킹로그인ID" /> <input
			type="hidden" name="com_div" id="com_div" value="" /> <input
			type="hidden" name="prov_li" id="prov_li" value="" /> <input
			type="hidden" name="prov_div" id="prov_div" value="" />

		<h2 class="tit_dep2">약관동의 및 사용자 본인 확인</h2>
		<!-- 약관 View 생성-->
		<div id="agreeViewerDisplay" class="u-agreements"></div>

		<h2 class="tit_dep2 s7">본인확인(인터넷뱅킹ID/사용자암호 입력)</h2>
		<table class="tType02"
			summary="사용자 ID, 사용자 암호, 사업자등록번호(납세번호/고유번호), 주민등록번호를 입력할 수 있습니다.">
			<caption>본인확인(인터넷뱅킹ID/사용자암호 입력)</caption>
			<colgroup>
				<col width="19%" />
				<col />
			</colgroup>
			<tbody>
				<tr class="first">
					<th scope="row"><label for="고객식별번호">사용자 ID</label></th>
					<td><input value="" type="text" name="고객식별번호" id="고객식별번호"
						maxlength="12" class="input"
						style="width: 120px; ime-mode: inactive;"
						onblur="chgUpperCase(this)"> <span class="btn small icon"><span
							class="right blank"><input type="button"
								value="ID를 모르시는 경우" title="ID조회 새창"
								onclick="javascript:searchId1()"></span></span> <span class="caution">인증서를
							사용할 Master 또는 Sub의 ID 입력하세요. (ID조회는 Master만 가능합니다.)</span></td>
				</tr>
				<tr>
					<th scope="row"><label for="주민등록번호앞자리">비밀번호 </label></th>
					<td><input value="" type="text" name="고객식별번호" id="고객식별번호"
						maxlength="12" class="input"
						style="width: 120px; ime-mode: inactive;"
						onblur="chgUpperCase(this)">
					<td>
					<td>
				<tr>
					<th scope="row"><label for="주민등록번호앞자리">주민등록번호</label></th>
					<td><input type="text" name="주민등록번호앞자리" id="주민등록번호앞자리"
						maxlength="6" class="input"
						style="width: 120px; IME-MODE: disabled;" title="주민번호 앞자리" /> -
						<input type="password" class="input" style="width: 120px;"
						name="H6j3cgHgQc" id="H6j3cgHgQc" title="주민번호뒷자리" value=""
						maxlength="7" onkeyup="caq.util.formInputControl('H6j3cgHgQc',1);" />
						<div class="rad_input s1">
							<input type="checkbox" class="nProtectUseYn" id="nProtectUseYn1"
								name="nProtectUseYn1" value="Y" /><label for="nProtectUseYn1"
								class="lab_pad">마우스로 입력</label>
						</div> <span class="caution">개인사업자만 입력</span> <span class="caution">숫자만
							입력하실 수 있으며, 붙여넣기는 지원되지 않습니다.</span></td>
				</tr>
			</tbody>
		</table>

		<p class="txt_withdraw">위의 전자금융거래기본약관 및 전자금융서비스이용약관의 내용에 동의하고<br/>
			인터넷뱅킹 서비스를 이용하시겠습니까 ?</p>
		<div class="btnArea">
			<span class="btn large action"><input type="button"
				value="약관 동의/본인확인" onclick="location.href='certificate2.html'"/></span> <span
				class="btn large"><input type="button" value="취소"
				onclick="location.href='index.html'" /></span>
		</div>
	</form>
</body>
</html>