<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="./css/idfind.css" />
</head>
<body>
	<form action="doJoin" method="POST" class="joinForm">
		<div class="textForm">
			<input name="loginId" type="text" class="id" placeholder="아이디">
		</div>
		<div class="passwordForm">
			<input name="loginId" type="text" class="id" placeholder="이름">
		</div>
		<div class="passwordForm">
			<input name="loginId" type="text" class="pw" placeholder="주민등록번호(6자리)">
		</div>
		<input type="button" class="btn"onclick="location.href='idfind.html'" value="아이디 찾기" />
		<input type="button" class="btn"onclick="location.href='idfind.html'" value="비밀번호 찾기" />
		<input type="button" class="btn"onclick="location.href='index.html'" value="이전으로" />
	</form>
</body>
</html>